.speech
{
    font-family: "Times New Roman", Times, serif;
    font-size: 11px;
    color:black;
}
.direction
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #000;
    background-color: aqua;
}
.direction.hover
{
    background-color: bisque;
    color: brown;
}

.MARINA
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: crimson;
}
.ASTROFF
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: chocolate;
}