.speech
{
    font-family: "Times New Roman", Times, serif;
    font-size: 11px;
    color:black;
}
.direction
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #000;
    background-color: aqua;
}
.direction.hover
{
    background-color: bisque;
    color: brown;
}

.MARINA
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: crimson;
}
.ASTROFF
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: chocolate;
}
.VOITSKI
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: rgb(225, 187, 34);
}

.Complete_table
{
    width:100%;
    border-collapse: collapse;
    margin-top: 11px;
}

.Complete_table th , .Complete_table td
{
border: 1px solid #dbff33;
padding: 11px;
text-align: center;
}
.Complete_table th
{
    background-color: #33ff63;
}
tr:nth-child(even)
{
    background-color: beige;
}