.speech
{
    font-family: "Times New Roman", Times, serif;
    font-size: 11px;
    color:black;
}
.direction
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #000;
    background-color: aqua;
}
.direction:hover
{
    background-color: bisque;
    color: brown;
}
.name
{
    font-style: italic;
    text-align: left;
}

.MARINA
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: crimson;
}
.MARINA:hover
{
text-shadow: #dbff33;
filter: blur(4px);
box-shadow: 3px 3px 10px #4f5858;
border: 1px solid #2d2c28; /* border color */
}
.ASTROFF
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: chocolate;
}
.VOITSKI
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(225, 187, 34);
}

.Complete_table
{
    width:100%;
    border-collapse: collapse;
    margin-top: 11px;
}

.Complete_table th , .Complete_table td
{
border: 1px solid #dbff33;
padding: 11px;
text-align: center;
}
.Complete_table th
{
    background-color: #33ff63;
}
tr:nth-child(even)
{
    background-color: beige;
}
.bottom-navbar {
    background-color: rgb(21, 232, 211);
    align-items: center;
    color: #000;
    text-align: center;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.bottom-navbar a {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 250%;
    color: crimson;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.bottom-navbar i {
    font-size: 24px;
    margin-bottom: 20px;
    
}

.bottom-navbar a:hover {
    color: palegoldenrod;
}

.fa {
  padding-top: 3%;
}